# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment folder
env/
venv/
ENV/

# SQLite database
db.sqlite3

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/
# */migrations/*.py

# Django static files
staticfiles/
static/

# Media files
media/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# MacOS files
.DS_Store

# Logs
*.log

# Coverage reports
.coverage
htmlcov/

# Unit test / coverage reports
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.env.*

# pipenv
Pipfile.lock
